[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rq = "*"
redis = {extras = ["hiredis"], version = "*"}
pymongo = "*"
fastapi = {extras = ["standard"], version = "*"}
python-multipart = "*"
graphtage = "*"
xmldiff = "*"

[dev-packages]

[requires]
python_version = "3.13"
